{% extends "Layouts/main.html.twig" %}

{% block head_content %}
    <title>Tracker | Games</title>
{% endblock %}

{% block content %}
    <div id="app">
        <div class="sticky top-0 bg-dark z-50 flex py-2">
            {% include 'Components/searchbox.html.twig' %}
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
            {% verbatim %}
                <a class="flex bg-neutral-700 p-2 justify-between" :href="'/games/' + game.id" v-for="game in games">
                    <div class="text-lg line-clamp-1 ml-2" :title="game.name" v-html="highlight(game.name)"></div>
                    <div class="ml-2 flex-none">
                        <span class="text-xs text-neutral-300">
                            {{ game.total_achievements }} <i class="fa-solid fa-trophy"></i>
                        </span>
                    </div>
                </a>
            {% endverbatim %}
        </div>
    </div>
    <script>
        const {createApp, ref, computed} = Vue

        createApp({
            setup() {
                const searchBox = ref('')
                const originalGames = [{{ games|raw }}]

                const games = computed(() => {
                    return originalGames.filter((game) => {
                        if (searchBox.value.length === 0)
                            return true
                        let searchValue = searchBox.value.toLowerCase()
                        let gameName = game.name.toLowerCase()
                        return gameName.includes(searchValue)
                    })
                })

                function highlight(name) {
                    if (searchBox.value.length === 0)
                        return name
                    return name ? name.replaceAll(new RegExp('(' + searchBox.value + ')', "ig"), '<span class="text-lila">$1</span>') : '';
                }

                return {
                    games, searchBox, highlight, originalGames
                }
            }
        }).mount('#app')
    </script>
{% endblock %}
