{% extends 'Users/_subnav.html.twig' %}

{% block subnav_title %}
    <div class="text-lg">
        {{ user.name }} - {{ game.name }}
        <a href="/scraper/game.php?{{ {'userid': user.id, 'gameid': game.id}|url_encode }}" title="refresh achievements">
            <i class="fa-solid fa-repeat text-sm text-mint"></i>
        </a>
    </div>
{% endblock %}
