{% extends 'Layouts/main.html.twig' %}

{% block head_content %}
    <title>Tracker | Achievement :: {{ achievement.display_name }}</title>
{% endblock %}

{% block content %}
    <div class="max-w-md mx-auto">
    {% include 'Games/Components/edit_achievement.html.twig' with { 'hide_description': true } %}
{% endblock %}
