{% extends 'Layouts/main.html.twig' %}

{% block head_content %}
    <title>Tracker | Games :: {{ game.name }}</title>
{% endblock %}

{% block content %}
    <header>
        {% include 'Games/header.html.twig' %}
        <div class="mb-2 mt-4"><i class="fa-solid fa-tags"></i> Tags</div>
        <form action="/tags/create.php" method="POST" class="mt-2">
            <input type="hidden" name="game_id" value="{{ game.id }}">
            <div class="flex my-2 text-xs">
                <input type="text" name="name" placeholder="Name of the Tag" class="p-2 text-dark dark:text-white bg-neutral-300 dark:bg-neutral-700">
                <button type="submit" class="bg-neutral-300 dark:bg-neutral-700 py-1 px-2 ml-3"><i class="fa-solid fa-paper-plane"></i> Create</button>
            </div>
        </form>
        <div class="flex">
            {% for tag in tags %}
                <a href="/tagged_achievements/new.php?{{ { "tagid": tag.id }|url_encode }}">
                    {% include 'Components/tag.html.twig' with { 'tag_id': tag.id, 'tag_name': tag.name } %}
                </a>
            {% endfor %}
        </div>
    </header>
    <div class="mt-5">
        <div class="mb-2">Achievements</div>
        <div class="grid gap-1 grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
            {% for achievement in achievements %}
                {% include 'Games/Components/show_achievement.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
