{% block searchbox %}
<div class="w-full flex mx-auto">
    <div class="text-xl dark:bg-neutral-700 bg-neutral-300 leading-5 text-center p-2">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <input type="text" v-model="searchBox" class="w-full p-2 dark:bg-neutral-700 bg-neutral-300" placeholder="search" />
</div>
{% endblock %}
