{% block achievement_wrapper %}
    <div class="flex flex-col justify-between bg-neutral-300 dark:bg-neutral-700 w-full pb-2" v-for="achievement in filteredAchievements">
        {% block achievement_body %}
            {% verbatim %}
                <div>
                    <div class="flex mb-2 bg-neutral-600">
                        <div :style="'background-image: url(' + achievement.icon + ')'" class="w-8 h-8 bg-cover flex-none transition-all ml-2"></div>
                        <div class="text-base line-clamp-1 px-2 self-center" :title="achievement.display_name" v-html="highlight(achievement.display_name)"></div>
                    </div>
                    <div class="text-sm line-clamp-2 hover:line-clamp-none dark:text-neutral-400 text-neutral-600 pb-2 ml-2" v-if="!hide_description">
                        <div v-if="!achievement.hidden" v-html="highlight(achievement.description)"></div>
                        <div v-else>
                            <i class="fa-solid fa-eye-slash" title="hidden achievement"></i> |
                            <a @click="editDescription($event, achievement.id)">
                                <i class="fa-solid fa-pen-to-square pointer-events-none"></i>
                                <span class="pointer-events-none" v-if="achievement.description"> Edit | </span>
                                <span class="pointer-events-none" v-else> Add description</span>
                            </a>
                            <span v-html="highlight(achievement.description)"></span>

                            <form action="/games/update.php" method="POST" @submit.prevent="onSubmit" :id="'form' + achievement.id" class="mt-2 hidden">
                                <input name="description" v-model="descriptions[achievement.id]" class="px-2 py-1 dark:bg-dark bg-white w-full">
                                <input type="hidden" :value="achievement.id" name="achievement_id">
                            </form>
                        </div>
                    </div>
                </div>
            {% endverbatim %}
                <div class="flex justify-between">
                    <div class="flex flex-wrap">
                        {% include 'Components/vue_tag.html.twig' %}
                    </div>
                    {% verbatim %}
                        <div class="text-right text-xs dark:text-neutral-400 text-neutral-600 mt-2 mr-2">{{ achievement.percent }} %</div>
                    {% endverbatim %}
                </div>
        {% endblock %}
    </div>
{% endblock %}
