{% extends 'Layouts/main.html.twig' %}

{% block content %}
    {% include 'Games/header.html.twig' with { 'breadcrumb': " - Tag: #{tag.name}" } %}
    <div class="my-4 text-sm">
        <div>Tag Achievements by clicking on them, when you're done click on "Finish"</div>
        <div class="mt-2"><a href="/tags/delete.php?tagid={{ tag.id }}" class="px-2 py-1 bg-red-600 inline-block"><i class="fa-solid fa-trash mr-2"></i>Delete Tag</a></div>
    </div>
    <form action="/tagged_achievements/create.php" method="POST">
        <input type="hidden" name="tag_id" value="{{tag.id}}">
        <div class="sticky top-0 bg-white dark:bg-dark py-2 flex">
            <button type="submit" class="bg-mint inline-block px-2 py-1 shrink-0"><i class="fa-solid fa-paper-plane"></i> Finish</button>
            <div class="w-full text-center">
                {% include 'Components/tag.html.twig' with { 'tag_id': tag.id, 'tag_name': tag.name } %}
            </div>
        </div>
        <div class="grid gap-1 grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
            {% for achievement in achievements %}
                {% include 'TaggedAchievements/achievement.html.twig' with { 'hide_action': true } %}
            {% endfor %}
        </div>
    </form>
{% endblock %}
