{% extends 'Layouts/main.html.twig' %}

{% block content %}
<p>Please specify a <b>userid</b> <small>(<span class="text-orange-400">users/show.php?userid=&lt;STEAM-USER-ID&gt;</span>)</small> to show information about a user.</p>
{% endblock %}
