<div class="my-3">
    <a href="/users/show.php?{{ {'userid': user.id}|url_encode }}" class="inline-block px-2 py-1 bg-neutral-300 dark:bg-neutral-700">Games</a>
    <a href="/users/activity.php?{{ {'userid': user.id}|url_encode }}" class="inline-block px-2 py-1 bg-neutral-300 dark:bg-neutral-700">Activity</a>
</div>
