{% extends 'Layouts/main.html.twig' %}

{% block head_content %}
    <title>Tracker | Users</title>
{% endblock %}

{% block content %}
    <div class="grid grid-cols-2 gap-4">
        {% for user in users %}
                <a class="flex flex-between border-2 dark:border-white border-dark p-4 rounded-full" href="/users/show.php?{{ {"userid": user.id}|url_encode }}">
                    <span class="inline-block pl-4 pr-6 self-center text-2xl"><i class="fa-solid fa-user"></i></span>
                    <div class="flex flex-col gap-1">
                        <span class="text-lg">{{ user.name }}</span>
                        <span class="text-sm">{{ user.achievementPercentage }}% ({{ user.achieved_achievements }} / {{ user.total_achievements }})</span>
                    </div>
                </a>
        {% endfor %}
    </div>
{% endblock %}
