<footer class="my-6 text-center bottom-0 text-sm text-neutral-500">
    <i class="fa-regular fa-copyright"></i>
    2023<span class="border mx-3 border-neutral-500"></span>Made with
    <i class="fa-solid fa-heart text-red-400 dark:text-red-800"></i>
    by <a href="https://github.com/simonfels">Simon Fels</a>
</footer>
