<footer class="my-6 text-center bottom-0 text-sm text-neutral-500">
    <i class="fa-regular fa-copyright"></i>
    2023<span class="border mx-3 border-neutral-500"></span>Made with
    <i class="fa-regular fa-heart text-red-600 animate-pulse"></i>
    by <a href="https://github.com/simonfels" class="font-bold">Simon Fels</a>
</footer>
