<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/ee8bf187fd.js" crossorigin="anonymous"></script>
</head>
<body class="bg-neutral-950 text-neutral-300 font-mono p-0 m-0">
    <nav>
        <ul class="flex shadow">
            <li><a href="/games" class="inline-block p-2"><strong>Games</strong></a></li>
            <li><a href="/users" class="inline-block p-2"><strong>Users</strong></a></li>
            <li><a href="/scraper" class="inline-block p-2"><strong>Fetch Data</strong></a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="my-6 text-center bottom-0 text-sm text-neutral-500">
        <i class="fa-regular fa-copyright"></i>
        2023
        <span class="border mx-2 border-neutral-500"></span>
        Made with
        <i class="fa-solid fa-radiation text-yellow-600 animate-spin-slow"></i>
        by <a href="https://github.com/simonfels" class="font-bold">Simon Fels</a>
    </footer>
</body>
</html>
