<footer class="pt-44 pb-8 text-center text-sm">
    made with <i class="fa-solid fa-heart text-red-400 dark:text-red-700"></i> by <a href="https://github.com/simonfels">Simon Fels</a> <i class="fa-regular fa-copyright"></i> 2025
</footer>
