{% set navigationPoints = ["games", "users"] %}

<nav class="w-full">
    <div class="flex justify-center my-4">
        {% for navigationPoint in navigationPoints %}
            <a href="/{{ navigationPoint }}" class="inline-block px-2 py-1 mx-2">{{ navigationPoint|title }}</a>
        {% endfor %}
    </div>
</nav>
