{% extends 'Components/achievement.html.twig' %}

{% block achievement_body %}
    {{ parent() }}
    <div class="flex justify-between">
        <div class="flex flex-wrap">
            {% for tagId in achievement.getTagIds %}
                {% include 'Components/tag.html.twig' with { 'tag_id': tagId, 'tag_name': tags[tagId].name } %}
            {% endfor %}
        </div>
        <div class="text-right text-xs dark:text-neutral-400 text-neutral-600 mt-2">{{ achievement.percent }} %</div>
    </div>
{% endblock %}
